## Hamoye Assignment 2
### Joshua Umukoro - 1451d608fd81f000

## Appliances Energy Prediction Dataset

In [1]:
#importing packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# Reading the data

df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

**Exploratory Data Analysis**

In [3]:
# Checking for missing values

df.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [4]:
# Describing the data by inverting the columns by row

df.describe().T

,count,mean,std,min,25%,50%,75%,max
Appliances,19735.0,97.694958,102.524891,10.000000,50.000000,60.000000,100.000000,1080.000000
lights,19735.0,3.801875,7.935988,0.000000,0.000000,0.000000,0.000000,70.000000
T1,19735.0,21.686571,1.606066,16.790000,20.760000,21.600000,22.600000,26.260000
RH_1,19735.0,40.259739,3.979299,27.023333,37.333333,39.656667,43.066667,63.360000
T2,19735.0,20.341219,2.192974,16.100000,18.790000,20.000000,21.500000,29.856667
RH_2,19735.0,40.420420,4.069813,20.463333,37.900000,40.500000,43.260000,56.026667
T3,19735.0,22.267611,2.006111,17.200000,20.790000,22.100000,23.290000,29.236000
RH_3,19735.0,39.242500,3.254576,28.766667,36.900000,38.530000,41.760000,50.163333
T4,19735.0,20.855335,2.042884,15.100000,19.530000,20.666667,22.100000,26.200000
RH_4,19735.0,39.026904,4.341321,27.660000,35.530000,38.400000,42.156667,51.090000
T5,19735.0,19.592106,1.844623,15.330000,18.277500,19.390000,20.619643,25.795000
RH_5,19735.0,50.949283,9.022034,29.815000,45.400000,49.090000,53.663333,96.321667
T6,19735.0,7.910939,6.090347,-6.065000,3.626667,7.300000,11.256000,28.290000
RH_6,19735.0,54.609083,31.149806,1.000000,30.025000,55.290000,83.226667,99.900000
T7,19735.0,20.267106,2.109993,15.390000,18.700000,20.033333,21.600000,26.000000
RH_7,19735.0,35.388200,5.114208,23.200000,31.500000,34.863333,39.000000,51.400000
T8,19735.0,22.029107,1.956162,16.306667,20.790000,22.100000,23.390000,27.230000
RH_8,19735.0,42.936165,5.224361,29.600000,39.066667,42.375000,46.536000,58.780000
T9,19735.0,19.485828,2.014712,14.890000,18.000000,19.390000,20.600000,24.500000
RH_9,19735.0,41.552401,4.151497,29.166667,38.500000,40.900000,44.338095,53.326667
T_out,19735.0,7.411665,5.317409,-5.000000,3.666667,6.916667,10.408333,26.100000
Press_mm_hg,19735.0,755.522602,7.399441,729.300000,750.933333,756.100000,760.933333,772.300000
RH_out,19735.0,79.750418,14.901088,24.000000,70.333333,83.666667,91.666667,100.000000
Windspeed,19735.0,4.039752,2.451221,0.000000,2.000000,3.666667,5.500000,14.000000
Visibility,19735.0,38.330834,11.794719,1.000000,29.000000,40.000000,40.000000,66.000000
Tdewpoint,19735.0,3.760707,4.194648,-6.600000,0.900000,3.433333,6.566667,15.500000
rv1,19735.0,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.996530
rv2,19735.0,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.996530

In [5]:
# Checking the datatypes

df.dtypes

date            object
Appliances       int64
lights           int64
T1             float64
RH_1           float64
T2             float64
RH_2           float64
T3             float64
RH_3           float64
T4             float64
RH_4           float64
T5             float64
RH_5           float64
T6             float64
RH_6           float64
T7             float64
RH_7           float64
T8             float64
RH_8           float64
T9             float64
RH_9           float64
T_out          float64
Press_mm_hg    float64
RH_out         float64
Windspeed      float64
Visibility     float64
Tdewpoint      float64
rv1            float64
rv2            float64
dtype: object

**Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:**

**What is the Mean Absolute Error (in two decimal places)**

In [6]:
# dropping the date and light column

df = df.drop(['date', 'lights'], axis=1)

In [7]:
# Normalizing the data

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
energy_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [8]:
X = energy_df.drop('Appliances', axis = 1)
y = energy_df['Appliances']

In [9]:
energy_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [10]:
# Model Training

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

**From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?**

In [11]:
# We had to reshape our data because we have just a feature

t2 = np.array(energy_df['T2'])
t6 = np.array(energy_df['T6'])
t2 = t2.reshape(-1, 1)
t2_train, t2_test, t6_train, t6_test = train_test_split(t2, t6, test_size=0.3, random_state=42)

In [12]:
#Using Linear regression model

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(t2_train, t6_train)
t6_pred = model.predict(t2_test)

In [13]:
# R2 Score

from sklearn.metrics import r2_score
r2 = r2_score(t6_test, t6_pred)
print('The r2 score is', (round(r2,2)))

The r2 score is 0.64

In [14]:
reg = LinearRegression()
reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)

In [15]:
# Mean absolute error (MAE)

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
print('The mean absolute error is', (round(mae, 2)))

The mean absolute error is 0.05

**What is the Residual Sum of Squares (in two decimal places)?**

In [16]:
# Residual sum of squares

rss = np.sum(np.square(y_test - y_pred))
print('The residual sum of square is', (round(rss,2)))

The residual sum of square is 45.35

**What is the Root Mean Squared Error (in three decimal places)?**

In [17]:
# Root Mean Squared Error

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)

In [18]:
rmse = np.sqrt(mse)
print('The root mean square error is', (round(rmse, 3)))

The root mean square error is 0.088

**What is the Coefficient of Determination (in two decimal places)?**

In [19]:
# Coefficient of Determination

cod = r2_score(y_test, y_pred)
print('The coefficient of determination is', (round(cod, 2)))

The coefficient of determination is 0.15

In [20]:
import statsmodels.api as sm

In [21]:
X_train_sm = sm.add_constant(X_train)

In [22]:
X_train_sm.head()

,const,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
9129,1.0,0.497360,0.236767,0.122850,0.565939,0.373878,0.303474,0.476577,0.264760,0.408027,...,0.475893,0.376380,0.168810,0.862791,0.776316,0.142857,0.984615,0.192308,0.724554,0.724554
2453,1.0,0.286167,0.482616,0.188999,0.669978,0.217957,0.735317,0.270270,0.691421,0.178691,...,0.240375,0.703504,0.262594,0.836434,0.807018,0.142857,0.600000,0.342383,0.864041,0.864041
9152,1.0,0.422386,0.230529,0.057427,0.606430,0.373878,0.338059,0.414414,0.236449,0.378404,...,0.468262,0.409803,0.110397,0.853488,0.859649,0.095238,0.917949,0.158371,0.499502,0.499502
12694,1.0,0.560718,0.446840,0.280834,0.704002,0.514290,0.515189,0.540541,0.486556,0.509317,...,0.561915,0.340784,0.444802,0.559690,0.750000,0.119048,0.384615,0.558069,0.323173,0.323173
16952,1.0,0.835269,0.422071,1.000000,0.318493,0.745383,0.459106,0.900901,0.516432,0.748845,...,0.854318,0.633278,0.849946,0.530233,0.355263,0.142857,0.600000,0.787330,0.341060,0.341060

In [23]:
lr = sm.OLS(y_train, X_train_sm).fit()

In [24]:
lr

In [25]:
print(lr.summary())

# In the output below, we can see that the predictor variables of RH_1, T2, RH_2, T3, RH_3, T4, RH_5, T6, RH_6,
# RH_7, T8, RH_8, T9, RH_9, T_out, RH_out, Windspeed, Visibility, Tdewpoint
# are significant because their p-values are less than 0.05. 
# However, the p-value for T1, RH_4, T5, T7, Press_mm_hg, rv1, rv2  is greater than the common alpha level of 0.05, 
# which indicates that it is not statistically significant.

                            OLS Regression Results
==============================================================================
Dep. Variable:             Appliances   R-squared:                       0.145
Model:                            OLS   Adj. R-squared:                  0.143
Method:                 Least Squares   F-statistic:                     93.32
Date:                Tue, 06 Dec 2022   Prob (F-statistic):               0.00
Time:                        19:16:41   Log-Likelihood:                 13819.
No. Observations:               13814   AIC:                        -2.759e+04
Df Residuals:                   13788   BIC:                        -2.739e+04
Df Model:                          25
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const           0.1529      0.025      6.220      0.000       0.105       0.201
T1             -0.0033      0.020     -0.165      0.869      -0.042       0.036
RH_1            0.5535      0.028     19.814      0.000       0.499       0.608
T2             -0.2362      0.026     -9.245      0.000      -0.286      -0.186
RH_2           -0.4567      0.031    -14.707      0.000      -0.518      -0.396
T3              0.2906      0.014     20.088      0.000       0.262       0.319
RH_3            0.0960      0.016      5.834      0.000       0.064       0.128
T4              0.0290      0.012      2.336      0.019       0.005       0.053
RH_4            0.0264      0.017      1.582      0.114      -0.006       0.059
T5             -0.0157      0.014     -1.126      0.260      -0.043       0.012
RH_5            0.0160      0.007      2.448      0.014       0.003       0.029
T6              0.2364      0.025      9.515      0.000       0.188       0.285
RH_6            0.0380      0.008      5.016      0.000       0.023       0.053
T7              0.0103      0.016      0.652      0.514      -0.021       0.041
RH_7           -0.0446      0.014     -3.260      0.001      -0.071      -0.018
T8              0.1020      0.012      8.465      0.000       0.078       0.126
RH_8           -0.1576      0.012    -12.935      0.000      -0.181      -0.134
T9             -0.1899      0.019    -10.053      0.000      -0.227      -0.153
RH_9           -0.0398      0.011     -3.559      0.000      -0.062      -0.018
T_out          -0.3219      0.054     -5.946      0.000      -0.428      -0.216
Press_mm_hg     0.0068      0.005      1.301      0.193      -0.003       0.017
RH_out         -0.0777      0.027     -2.850      0.004      -0.131      -0.024
Windspeed       0.0292      0.005      5.317      0.000       0.018       0.040
Visibility      0.0123      0.004      2.905      0.004       0.004       0.021
Tdewpoint       0.1178      0.037      3.154      0.002       0.045       0.191
rv1             0.0008      0.001      0.589      0.556      -0.002       0.003
rv2             0.0008      0.001      0.589      0.556      -0.002       0.003
==============================================================================
Omnibus:                     9901.867   Durbin-Watson:                   2.023
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           154402.632
Skew:                           3.367   Prob(JB):                         0.00
Kurtosis:                      17.930   Cond. No.                     1.09e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.33e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

**Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?**

In [26]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [27]:
feature_weight = SelectKBest(score_func=f_regression, k=10)
fit = feature_weight.fit(X, y)

In [28]:
df_scores = pd.DataFrame(fit.scores_)
df_columns = pd.DataFrame(X.columns)

In [29]:
# concat two dataframes for better visualization
feature_scores = pd.concat([df_columns, df_scores], axis=1)
feature_scores.columns = ['Attributes', 'Score'] #naming the dataframe columns

In [30]:
feature_scores

     Attributes       Score
0            T1   60.854665
1          RH_1  147.140998
2            T2  288.664211
3          RH_2   72.408319
4            T3  143.812455
5          RH_3   26.024394
6            T4   32.069964
7          RH_4    5.681303
8            T5    7.707801
9          RH_5    0.954444
10           T6  276.909655
11         RH_6  137.474160
12           T7   13.144888
13         RH_7   61.284663
14           T8   30.949192
15         RH_8  176.061071
16           T9    1.977559
17         RH_9   52.398435
18        T_out  195.934202
19  Press_mm_hg   24.043360
20       RH_out  468.470558
21    Windspeed  150.924181
22   Visibility    0.001047
23    Tdewpoint    4.652459
24          rv1    2.451324
25          rv2    2.451324

**Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?**

In [31]:
from sklearn.linear_model import Ridge

# define model
model_ridge = Ridge(alpha=0.4)
# fit model
model_ridge.fit(X_train, y_train)
ridge_pred = model_ridge.predict(X_test)

In [32]:
rmse = np.sqrt(mean_squared_error(y_test, ridge_pred))
print('The root mean square error is', (round(rmse, 3)))

The root mean square error is 0.088

**Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?**

**What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)**

In [33]:
from sklearn.linear_model import Lasso

# define model
model_lasso = Lasso(alpha=0.001)
model_lasso.fit(X_train, y_train)
lasso_pred = model_lasso.predict(X_test)

In [34]:
rmse = np.sqrt(mean_squared_error(y_test,lasso_pred))
print('The root mean square error is', (round(rmse, 3)))

The root mean square error is 0.094